.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: powderblue;
    color: darkslategray;
}

p,
button,
a {
    font-family: "Poppins", sans-serif;
}

.control {
    background-color: beige;
}
